include navbar.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/main.css")
    title Data Display
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="/js/index.js")
  body
    +navbar()
    h1.page-title Danh Sách Học Sinh
    div.filter-container
      div.filter-group
        label(for="year-select") Năm Học:
        select#year-select.year-select
          option(value=currentYear selected)= currentYear
      div.filter-group
        label(for="block-select") Khối Lớp:
        select#block-select.block-select
          option(value="") Tất Cả
      div.filter-group
        label(for="class-select") Lớp:
        select#class-select.class-select
          option(value="") Tất Cả
          if classes
            each className in classes
              option(value=className)= className
    table#data-table.data-table(border="1")
      thead
        tr
          th Họ và Tên
          th Lớp
          th Giới Tính
          th Ngày Sinh
          th Email 1
          th Email 2
      tbody
        if students
          each row in students
            tr
              td= row.name
              td= row.class
              td= row.gender
              td= row.birthday
              td= row.email1
              td= row.email2 || ''
        else
          tr
            td(colspan="6") No data available
